
.lateral {
    width: 17%;
    background-color: rgb(161, 161, 161);
    height: 88%;
    float: left;
    top: 0;
    margin: 0;
  }

.btnN{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-weight: 90;
    width:100%;
    height:14.2%;
    box-shadow: red;
}

.btnS{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-weight: 90;
    width:30%;
    height:20%;
    box-shadow: red;
}

.principal{
    background-color:  #fff;
    width: 100%;
    height: 90%;
    text-align: center;
}

.footer {
    width: 100%;
    height: 5px;
    border-top: 5px solid #E0E0E0;
    border-right: 0;
    bottom: 0px; 
    left: 0px; 
    text-align: center; 
    float: inline-end;
}

.m-main{   
    text-align:center;
    width: 100%;
    height: 90%;
}

.combos{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-weight: 80;
    width:25px;
    height:20px;
}

.miFormulario{
    background-color: rgb(255, 255, 0);
    color: rgb(0, 0, 0);
}

.bot{
    text-decoration: black;
    position: center;
    font-size: 15px;
    background-color: brown;
}

.menu-m{
    font-size: 40px;
    background-color: gr;
    border-color: black;
}

body{
    width: 100%;
    height: 90%;
}

.title1 {
    font-size: calc(1rem + 1vw);
}

.content {
    text-align: center;
    color: #4F2B23;
}

.m-b-md {
    margin-bottom: 90px;
}